    <br/>  
<div class="g-bd">
    <div class="bd-main">
        <div class="bd-tab">
            <a href="store.php?m=router&a=app&rid=126951" >已安装的插件</a><em>|</em>
            <a class="current" href="store.php?m=apps&a=ls&rid=126951">全部插件</a><em>|</em>
                        <a href="store.php?m=router&a=info&rid=126951">路由器信息</a>
        </div>
                <!---->
        <div class="g-app-list app-list-tag">
            <div class="panel-tit">加速服务</div>
            <ul class="clearfix">
  <% @plugins.each do |plugin| %>
            <!---->
                <li>
                                        <a href="store.php?m=plugins&a=install&rid=126951&sid=5" >
                                          <div class="pic"><img src="./static/images/<%= plugin.imagename %>.png" alt="AppleTV随便看" width="72" height="72" /></div>
                                          <p class="name">
                                          <%= plugin.name  %> 
                                          </p>
                    </a>
                </li>
  <% end %>
            <!---->
            </ul>
        </div>
    </div>
</div>
